{% from 'frama/macros.html' import icon, which_fav %}
<form method="{{ method or 'POST' }}" action="{{ url_for('index') }}" id="search_form" role="search">
  <div class="row">
    <div class="search-wrapper col-xs-12">
      <div class="input-group search-margin">
        <a href="{{ url_for('index') }}" class="input-group-addon"><img src="{{ url_for('static', filename='themes/frama/img/%s' % which_fav()) }}" alt="Searx logo"></a>
        <input type="search" name="q" class="form-control" id="q" placeholder="{{ _('Search for...') }}" autocomplete="off" value="{{ q }}">
        <a href="#" id="search_submit" class="cat no-left-border input-group-addon"><span class="glyphicon glyphicon-search"></span></a>
        <a href="#" id="search_empty" class="input-group-addon">{{ icon('remove') }}</a>
      </div>
    </div>
    <div class="selects">
      <div>
        {% include 'frama/time-range.html' %}
      </div>
      <div>
        {% include 'frama/languages.html' %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        {% include 'frama/categories.html' %}
    </div>
  </div>
</form><!-- / #search_form_full -->